html{
  font-family: sans-serif;
  background-color: #EEDFDE;
  height: 100%;
margin: 0px;
}

.container
{
display: flex;
flex-direction: column;
justify-content: center;
}
#Quote
{
  flex: 1;
  justify-content:  center;
  align-self: center;
}
#Password
{
  flex: 1;
  align-self: center;
  justify-content:  center;
}
#button
{
  display: flex;
  justify-content: center;
}
h1
{
	display: flex;
justify-content: center;
}
#image
{
  display: flex;
  justify-content: center;
}

